body{
  background-image: url(./assets/pexels-andrew-3178786.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin: 0;

  /* Optional */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}


.clock-container{
  backdrop-filter: blur(3px);
  /* filter: blur(1px); */
  padding: 40px 70px;
  border: 2px solid hsla(62, 84%, 93%, 0.696);
  border-radius: 40px;
}

.clock{
  color: hsla(101, 76%, 95%, 0.975);
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 4px 4px 7px hsla(0, 0%, 0%, 0.75);
}